<div class="fill-window d-flex justify-content-center align-items-center text-center">
    <div class="m-auto">
        <h1 class="intro"><span class="hello">Hello.</span> <br> I'm Joanna!</h1>
        <p class="mb-0">I'm a 21 year old, 4th year computer science student at Dalhousie University (BCS). 
        <br>You may find me drawing portraits, or picking out stylistic inconsistencies on restaurant menus or billboards.</p>
    </div>
</div>

<div class="mb-5">
    <h4>SKILLS</h4>
    <div class="skills">
        <span class="badge badge-secondary mr-3 pr-3 pl-3 p-2">HTML</span>
        <span class="badge badge-secondary mr-3 pr-3 pl-3 p-2">CSS</span>
        <span class="badge badge-secondary mr-3 pr-3 pl-3 p-2">Java</span>
        <span class="badge badge-secondary mr-3 pr-3 pl-3 p-2">PHP</span>
        <span class="badge badge-light mr-3 pr-3 pl-3 p-2">UI Design</span>
    </div>
</div>

<div class="mb-5">
    <h4>EDUCATION</h4>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-2 text-center m-auto">
                <!-- Taken from Dalhousie's research page: https://www.dal.ca/dept/communicationsandmarketing/brand.html -->
                <img src="assets/dal-logo.svg" class="dal-logo" alt="Dalhousie University Logo">
            </div>
            <div class="col-md-10">
                <div class="card-body pl-0">
                    <div class="d-flex flex-row justify-content-between flex-wrap">
                        <div class="edu-info">
                            <h5 class="card-title">Dalhousie University</h5>
                            <h6 class="card-title">Bachelor of Computer Science (BCS), User Experience Design and Evaluation</h6>
                        </div>
                        <div class="edu-desc">
                            <p class="m-0">September 2015 - Present</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mb-5">
    <h4>WORK EXPERIENCE</h4>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-2 text-center m-auto">
                <i class="fab fa-apple text-center" style="font-size: 75px"></i>
            </div>
            <div class="col-md-10">
                <div class="card-body pl-0">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="job-info">
                            <h5 class="card-title">Apple</h5>
                            <h6 class="card-title">Technical Expert</h6>
                        </div>
                        <div class="job-year">
                            <p>March 2017 - Present</p>
                        </div>
                    </div>
                    <p class="m-0">Troubleshooting issues with iPhone, iPad, iPod, Apple Watch, Apple TV, Beats and Apple accessories.
                        <br> Repairing iPhones (Apple Certified iOS Technician).</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-2 text-center m-auto">
                <!-- Taken from Dalhousie's research page: https://www.dal.ca/dept/communicationsandmarketing/brand.html -->
                <img src="assets/dal-logo.svg" class="dal-logo" alt="Dalhousie University Logo">
            </div>
            <div class="col-md-10">
                <div class="card-body pl-0">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="job-info">
                            <h5 class="card-title">Dalhousie University</h5>
                            <h6 class="card-title">Teaching Assistant</h6>
                        </div>
                        <div class="job-year">
                            <p>January 2019 - Present</p>
                        </div>
                    </div>
                    <p class="m-0">Teaching Assistant for CSCI 2170: Introduction to Server-Side Scripting.
                        <br>Holding extra help hours on Mondays for students.
                        <br>Teaching a lab of ~40 students every Wednesday.</p>
                </div>
            </div>
        </div>
    </div>
</div>