<!--<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="about"><img class="logo" src="assets/joanna-white.svg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="about" routerLinkActive="active">ABOUT</a>
                <a class="nav-item nav-link" routerLink="portfolio" routerLinkActive="active">PORTFOLIO</a>
                <a class="nav-item nav-link" routerLink="contact" routerLinkActive="active">CONTACT</a>
            </div>
        </div>
    </div>
</nav>-->
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="about"><img class="logo" src="assets/joanna-white.svg"></a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNav" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="about" routerLinkActive="active">ABOUT</a>
                <a class="nav-item nav-link" routerLink="portfolio" routerLinkActive="active">PORTFOLIO</a>
                <a class="nav-item nav-link" routerLink="contact" routerLinkActive="active">CONTACT</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>