/* You can add global styles to this file, and also import other style files */
body {
    background-color: #000000;
    color: #FFFFFF;
}

.nav-item {
    font-weight: bold;
}

.bg-dark {
    background-color: #000000 !important;
}

.logo {
    width: 35%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo-2 {
    width: 100px;
    margin-right: 20px;
}

.gradient {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 50%);
}

.card-container {
    border: solid #FFFFFF 1px;
    border-radius: 13px;
    padding: 50px;
    background-color: #FFFFFF;
    overflow: hidden;
    word-wrap: break;
    margin-bottom: 20px;
    color: #000000;
}

.card {
    color: #000000;
    border-radius: 13px;
}