.add-todo {
    padding: 0;
}

.btn {
    width: 25px;
}

textarea, input {
    border: 0;
    padding: 0;
}

h3 {
    margin: 0;
}

.width-25px {
    width: 25px;
}

.todo-title {
    margin-bottom: 1.25rem;
}

.new-todo {
    padding-bottom: 0;
    padding-top: 1.25rem;
}

.list-group-item {
    padding-left: 0;
    padding-right: 0;
}

.btn-link {
    color: lightgrey;
}
.btn-link:hover {
    color: #000;
}

.list-group-item-action {
    color: lightgrey;
}

.list-group-item-action:hover {
    color: #000;
}

.list-border-top .list-group-item:first-child {
    border-top: 1px solid rgba(0,0,0,.125);
}

/*
.complete-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox
.complete-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    z-index: -1;
}
  
  /* Create a custom checkbox
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,.125);
  }
  
  /* On mouse-over, add a grey background color 
  .complete-check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background 
  .complete-check input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) 
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked 
  .complete-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator 
  .complete-check .checkmark:after {
    border-radius: 30px;
    width: 5px;
    height: 5px;
    top: 6px;
    left: 6px;
    border: solid white;
    background: white;
  }
*/