<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between todo-title">
                <h3 class="card-title">TODO</h3>
                <h3 class="card-title">{{todos.length}}</h3>
            </div>

            <ul class="list-group list-group-flush">
                <!-- TODOs -->
                <li class="list-group-item d-flex" *ngFor="let todo of todos; let i = index;" [ngClass]="">
                    <div class="d-flex align-items-center justify-content-center width-25px"><input type="checkbox" (click)="completeTodo(i)"></div>
                    <div class="flex-grow w-100 ml-3">
                        <input #todoInput type="text" class="flex-grow w-100" id="" value="{{todo.todo}}" (focusout)="setTodo(todoInput.value, i);" [ngClass]="{true:'text-muted'}[checkIsCompleted(i)]" [readonly]="checkIsCompleted(i)"> <!--keyup.enter)="setTodo(todoInput.value, i);"-->
                            <!--<small class="text-muted">{{today | date:'yyyy-MM-dd'}}</small>-->
                            <small class="text-muted">{{todo.date | date:'longDate'}}</small>
                    </div>
                    <button type="button" class="btn btn-link" (click)="changeColor(i);">
                        <i class="fas fa-circle" [ngStyle]="{'color': todo.color}"></i>
                    </button>
                    <button type="button" class="btn btn-link" aria-label="delete" (click)="deleteTodo(i);">
                        <i class="fas fa-times"></i>
                    </button>
                </li>

                <!-- Completed TODOs -->
                <div class="list-group list-group-flush list-border-top collapse" id="completedTodos">
                    <li class="list-group-item d-flex" *ngFor="let completeTodo of completedTodos; let i = index;" [ngClass]="">
                        <div class="d-flex align-items-center justify-content-center width-25px"><input type="checkbox" (click)="uncompleteTodo(i)" checked=""></div>
                        <div class="flex-grow w-100 ml-3">
                            <input #todoInput type="text" class="flex-grow w-100 text-muted todoInput" id="" value="{{completeTodo.todo}}" readonly>
                            <!--<small class="text-muted">{{today | date:'yyyy-MM-dd'}}</small>-->
                            <small class="text-muted">{{completeTodo.date | date:'longDate'}}</small>
                        </div>
                        <button type="button" class="btn btn-link" [ngStyle]="{'color': completeTodo.color}" disabled>
                            <i class="fas fa-circle"></i>
                        </button>
                        <button type="button" class="btn btn-link" aria-label="delete" (click)="deleteCompletedTodo(i);">
                            <i class="fas fa-times"></i>
                        </button>
                    </li>
                </div>
                <a class="list-group-item list-group-item-action" id="completeLabel" *ngIf="!completedTodosIsEmpty()" (click)="toggleShowHide()" data-toggle="collapse" data-target="#completedTodos">
                    <span id="showHide">Show</span> Completed
                </a>

                <!-- Add new TODOs -->
                <li class="list-group-item d-flex new-todo">
                    <button type="button" class="btn btn-link add-todo" aria-label="add" disabled>
                        <i class="fas fa-plus"></i>
                    </button>
                    <input #newTodo type="text" class="flex-grow ml-3 w-100" id="" placeholder="What's on today's agenda?" (keyup.enter)="addTodo(newTodo.value); newTodo.value=''" autofocus ngModel>
                </li>
            </ul>

        </div>
    </div>
    <small style="color: rgba(255,255,255,0.5);">Joanna Bistekos &copy;2019</small>   
</div>

