.add-todo {
    padding: 0;
}

.btn {
    padding-left: 5px;
    padding-right: 5px;
}

textarea, input {
    border: 0;
    padding: 0;
}

h3 {
    margin: 0;
}

.width-25px {
    width: 25px;
}

.todo-title {
    margin-bottom: 1.25rem;
}

.new-todo {
    padding-bottom: 0;
    padding-top: 1.25rem;
}

.card {
    max-height: 100vh;
}

.btn-link {
    color: lightgrey;
}
.btn-link:hover {
    color: #000;
}

/*.list-group {
    overflow: scroll;
    max-height: 100vh;
}*/

.list-group-item {
    padding-left: 0;
    padding-right: 0;
}

.list-group-item-action {
    color: lightgrey;
}

.list-group-item-action:hover {
    color: #000;
}

.list-border-top .list-group-item:first-child {
    border-top: 1px solid rgba(0,0,0,.125);
}

input[type="checkbox"] {
    -webkit-appearance: radio; /* Chrome, Safari, Opera */
    -moz-appearance: radio;    /* Firefox */
    -ms-appearance: radio;     /* not currently supported */
}

.todoInput {
    text-decoration: line-through;
}